---
services:
  caddy:
    image: caddy:{{ caddy_version }}
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - {{ caddy_compose_dir }}/conf:/etc/caddy:ro
      - {{ caddy_compose_dir }}/site:/srv:ro
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
