services:
  vaultwarden:
    image: vaultwarden/server:{{ vaultwarden_version }}
    restart: unless-stopped
    cpu_shares: 128
    deploy:
      resources:
        limits:
          memory: 1G
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    volumes:
      - {{ vaultwarden_data_dir }}:/data/
      - {{ vaultwarden_web_vault_dir }}:/web_vault/
    networks:
      reverse_proxy:
        ipv4_address: {{ haproxy_docker_internal_network | ansible.utils.ipaddr('3') | ansible.utils.ipaddr('address') }}
    environment:
      WEB_VAULT_FOLDER: /web_vault/
      WEB_VAULT_ENABLED: {{ vaultwarden_web_vault_enabled }}
      DISABLE_ICON_DOWNLOAD: {{ vaultwarden_disable_icon_download }}
      DISABLE_2FA_REMEMBER: {{ vaultwarden_disable_2fa_remember }}
      REQUIRE_DEVICE_EMAIL: {{ vaultwarden_require_device_email }}
      SIGNUPS_ALLOWED: {{ vaultwarden_signups_allowed }}
      SIGNUPS_VERIFY: {{ vaultwarden_signups_verify }}
      INVITATIONS_ALLOWED: {{ vaultwarden_invitations_allowed }}
      PASSWORD_ITERATIONS: {{ vaultwarden_password_iterations }}
      SHOW_PASSWORD_HINT: {{ vaultwarden_show_password_hint }}
      DOMAIN: {{ vaultwarden_domain }}
{% if vaultwarden_yubico is defined %}
      YUBICO_CLIENT_ID: {{ vaultwarden_yubico.client_id }}
      YUBICO_SECRET_KEY: {{ vaultwarden_yubico.secret_key }}
{% if vaultwarden_yubico.server is defined %}
      YUBICO_SERVER: {{ vaultwarden_yubico.server }}
{% endif %}
{% endif %}
      AUTHENTICATOR_DISABLE_TIME_DRIFT:  {{ vaultwarden_authenticator_disable_time_drift }}
{% if vaultwarden_smtp is defined %}
      SMTP_HOST: {{ vaultwarden_smtp.host }}
      SMTP_FROM: {{ vaultwarden_smtp.from }}
      SMTP_FROM_NAME: {{ vaultwarden_smtp_from_name }}
      SMTP_PORT: {{ vaultwarden_smtp_port }}
      SMTP_SECURITY: {{ vaultwarden_smtp_security }}
{% if vaultwarden_smtp.credentials is defined %}
      SMTP_USERNAME: {{ vaultwarden_smtp.credentials.username }}
      SMTP_PASSWORD: {{ vaultwarden_smtp.credentials.password }}
{% endif %}
{% if vaultwarden_smtp_auth_mechanism is defined %}
      SMTP_AUTH_MECHANISM: "{{ vaultwarden_smtp_auth_mechanism }}"
{% endif %}
      SMTP_TIMEOUT: {{ vaultwarden_smtp_timeout }}
{% endif %}
{% if vaultwarden_hibp_api_key is defined %}
      HIBP_API_KEY: {{ vaultwarden_hibp_api_key }}
{% endif %}

networks:
  reverse_proxy:
    external: true
