---
services:
  gitea:
    image: gitea/gitea:{{ gitea_version }}
    restart: unless-stopped
    cpu_shares: 16
    deploy:
      resources:
        limits:
          memory: 1G
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
    security_opt:
      - no-new-privileges:true
    volumes:
      - {{ gitea_data_dir }}:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      reverse_proxy:
        ipv4_address: {{ haproxy_docker_internal_network | ansible.utils.ipaddr('7') | ansible.utils.ipaddr('address') }}
    ports:
      - 2222:22/tcp
    environment:
      GITEA__server__DOMAIN: {{ ansible_facts['fqdn'] }}

networks:
  reverse_proxy:
    external: true
