services:
  wireguard:
    image: ghcr.io/niklasea/wireguard:{{ wireguard_version }}
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - NET_ADMIN
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          memory: 1G
    userns_mode: host
    network_mode: host
    volumes:
      - {{ wireguard_compose_dir }}/{{ wireguard_interface_name }}.conf:/config/wg0.conf:ro
