---
services:
  librespeed:
    image: adolfintel/speedtest:{{ speedtest_librespeed_version }}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1G
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
    security_opt:
      - no-new-privileges:true
    ports:
      - 127.0.0.1:8004:80
    environment:
      MODE: standalone

  iperf3:
    image: ghcr.io/niklasea/iperf3:{{ speedtest_iperf3_version }}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1G
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    ports:
      - {{ speedtest_iperf3_port }}:5201
