deb http://dk.archive.ubuntu.com/ubuntu {{ ansible_facts['distribution_release']|lower }} main restricted universe multiverse
deb http://dk.archive.ubuntu.com/ubuntu {{ ansible_facts['distribution_release']|lower }}-updates main restricted universe multiverse
deb http://dk.archive.ubuntu.com/ubuntu {{ ansible_facts['distribution_release']|lower }}-security main restricted universe multiverse

deb http://archive.ubuntu.com/ubuntu/ {{ ansible_facts['distribution_release']|lower }} main restricted universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_facts['distribution_release']|lower }}-updates main restricted universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ansible_facts['distribution_release']|lower }}-security main restricted universe multiverse
