services:
  linuxgsm_{{ instance_name }}:
    image: gameservermanagers/gameserver:{{ image_version }}
    restart: unless-stopped
    cpu_shares: 4096
    deploy:
      resources:
        limits:
          memory: 4G
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
    security_opt:
      - no-new-privileges:true
    ports: {{ ports }}
    volumes:
      - {{ data_dir }}:/data
