{
  "log-driver": "{{ docker_daemon_logging.driver }}",
  "log-level": "{{ docker_daemon_logging.level }}",
  "log-opts": {{ docker_daemon_logging.options | ansible.builtin.to_json }},
  "live-restore": {{ docker_daemon_live_restore }},
  "icc": {{ docker_daemon_icc }},
  "default-ulimits": {{ docker_daemon_default_ulimits | ansible.builtin.to_json }},
  "default-address-pools": {{ docker_daemon_address_pools | ansible.builtin.to_json }},
  "userns-remap": "default"
}
