services:
  stubby:
    image: ghcr.io/niklasea/stubby:{{ stubby_version }}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1G
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    security_opt:
      - no-new-privileges:true
    ports:
      - 53:53/tcp
      - 53:53/udp
    environment:
      LOG_LEVEL: {{ stubby_log_level }}
    volumes:
      - {{ stubby_config_path }}/stubby.yml:/etc/stubby.yml
